/* Body */
* 
  box-sizing: border-box



body 
  margin: 0

.page__wrapper
  max-width: 90vw
  margin: auto

.site__background
  background-image: url('../../assets/images/logoklw.jpeg')
  opacity: 0.2
  background-size: 45%
  background-repeat: no-repeat
  background-position: center
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: -1

