/* Body */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.page__wrapper {
  max-width: 90vw;
  margin: auto;
}

.site__background {
  background-image: url("../../assets/images/logoklw.jpeg");
  opacity: 0.2;
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.carousel {
  position: relative;
  display: flex;
  margin-top: 2rem;
}

.slider {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slider_container {
  height: 85%;
  width: 93%;
  /* transform: translate(-50%, -50%); */
  /* top: 40%; */
  left: 50%;
  overflow: hidden;
  /* border: 22px solid #ffffff; */
  border-radius: 8px;
  box-shadow: 10px 25px 30px rgba(0, 0, 0, 0.3);
}

.slider_wrapper {
  width: 100%;
  display: flex;
  animation: slide 10s infinite;
}

.slide {
  width: 100%;
}

img {
  width: 100%;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-100%);
  }
  75% {
    transform: translateX(-100%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}
.main__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4rem;
  background-color: rgba(22, 22, 22, 0.1529411765);
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.card-img-top {
  width: 100%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery_content {
  margin-top: 5%;
}

.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

#gallery img {
  height: 75vw;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 576px) {
  #gallery img {
    height: 35vw;
  }
}
@media (min-width: 992px) {
  #gallery img {
    height: 18vw;
  }
}

.concert .carousel-item img {
  height: 70vh;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 576px) {
  .concert .carousel-item img {
    height: 350px;
  }
}

.gallery_item {
  opacity: 90%;
}

.gallery_item:hover {
  cursor: pointer;
  opacity: 100%;
}

.navbar__ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  padding: 0;
}

.navbar__link {
  text-decoration: none;
  color: black;
}
.navbar__link:hover {
  color: #f36609;
}

.header__content {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.header__content--logo {
  height: 15vw;
  width: 15vw;
  float: left;
}

.header__content--title {
  display: inline-block;
  margin: auto;
}

.header__content--h1 {
  margin: auto;
  padding-right: 16rem;
}

h1 {
  font-size: 5vw;
  font-family: "Frank Ruhl Libre", serif;
  font-weight: bold;
}

.navbar__link {
  font-size: 2.5vw;
  font-family: "Kreon", serif;
}

.main__content--paragraphe {
  font-family: "Kreon", serif;
  color: black;
  font-size: 1.2em;
}/*# sourceMappingURL=style.css.map */