// Navbar UL 

.navbar__ul
  list-style: none
  display: flex
  justify-content: space-around
  margin-top: 0
  padding: 0


.navbar__link
  text-decoration: none
  color: black
  &:hover
    color: red